body{
    background-color: #f5f5f5;
    text-align: center;
}

nav{
    background-color: #496A72;
    box-shadow: 0 0 10px 0  #C6C6C6;
}

h1{
    margin: 50px;
}

table{
    width: 100%;
    font-size: 1.5em;
}

img{
    height: 150px;
    margin: 10px auto;
}

/* td{
    margin: 100px 0;
} */

.card{
    background-color: white;
    box-shadow:5px 5px 5px 0  #C6C6C6;
    display: inline-block;
    padding: 10px 10px;
    /* margin: 50px auto; */
    text-align: left;
}

/* Charts.................................................................................. */

.chart{
    width: 400px;
    height: 500px;
    margin: 50px auto;
    display: inline-block;
    background-color: white;
    box-shadow:5px 5px 5px 0  #C6C6C6;
    padding: 10px 10px;
}

h3{
    margin: 10px auto 30px;
}

/* Contest Rating.......................................................................  */

#cRating{
    width: 75%;
    height: 600px;
}

#contestRating{
    height: 500px;
}

.fulWC{
    height: 500px;
    margin: 10px;
}

#tag{
    height: 700px;
}

.bar{
    width: 95%;
    height: 250px;
}

.bar1{
    width: 80%;
    height: 350px;
}